/* media queries */
@media (max-width:991px){

    pages{
        font-size: 55% ;
    }

    body{
        padding-left: 0;
    }

}

@media (max-width:400px){
    pages.js{
        font-size: 50% ;
    }
    heading{
        width: 100%;
        border-right: 0;
    }
}